<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.txznet.sdkdemo"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".SDKDemoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="同行者演示程序"
        android:theme="@android:style/Theme.NoTitleBar">
        <receiver
            android:name=".VoioceButtonPressReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.erobbing.action.VOICE_BUTTON_PRESS_ACTION"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AsrActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.CallActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.CameraActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.ConfigActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.MusicActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.NavActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.NetDataActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.PowerActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.ResourceActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.SenceActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.StatusActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.SystemActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.TtsActivity"
            android:launchMode="singleTask">
        </activity>

        <service
            android:name="com.txznet.sdk.TXZService"
            android:exported="true">
            <intent-filter>

                <!-- {项目包名}.service.TXZService -->
                <action android:name="com.txznet.sdkdemo.service.TXZService"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>